
img{
    width: 80px;
    height: 80px;
    border: 1px solid #999;
}
.bg {
    background-color: #EEE;
    border: 1px solid #999;
    padding:20px;
}
.bg_left,.bg_right {
    padding:20px;
    background-color: #FFF;
    border: 1px solid #999;
}
.bg_left {
    float: left;
}
.bg_right {
    float: right;
}
.bg_center {
    padding:20px;
    background-color: #fff;
    margin: 0 160px 0 240px;
    border:1px solid #999;
    line-height: 25px;
}
.bg_left p{
    display: inline-block;
    vertical-align: top;
    width: 70px;
    padding-left: 10px;
}

.clear {
    clear: both;
}
