* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    width: 1280px;
    height: 4554px;
    border: 1px solid #ccc;
}
a {
    text-decoration: none;
}
/*header部分*/
header {
    width: 1280px;
    height: 57px;
    position: relative;
}
header .logo {
    width: 105px;
    background: url(../img/logo.png) no-repeat left;
    text-align: right;
    font-size: 20px;
    line-height: 57px;
    margin-left: 50px;
}


header ul {
    list-style: none;
    position: absolute;
    right: 0px;
    top:0;
}
header ul li {
    padding: 4px 10px 0;
    line-height: 49px;
    float: left;

}

header .on {
    border-bottom: 4px solid red;
}
header a:link ,.introduce a:visited {
    color: white;
}
header a:hover ,.introduce a:active {
    color: black;
    border-bottom: 4px solid red;
}
/*main*/
/*content 1*/
.content_1 {
    height: 690px;
    position: relative;
    background-color: #cccccc;
}
.content_1 .content_1_bg {
    width: 100%;
    height: 690px;
    position: absolute;
    top:0;
    left: 0;
}
.introduce {
    position: absolute;
    z-index: 1000;
    top: 30%;
    left: 100px;
    color: white;
    font-family: 微软雅黑;
}
.introduce .font_1 {
    font-size: 60px;
}
.introduce .font_2 {
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.introduce a {
    font-size: 30px;
    padding: 15px 100px;
    background-color: #ff6666;
}
.introduce a:link ,.introduce a:visited {
    color: white;
}
.introduce a:hover ,.introduce a:active {
    color: black;
}
 .content_2 {
    height: 251px;
    width: 100%;
    background-color: white;
     overflow: hidden;
}
.content_2 div {
    padding-top: 38px;
    text-align: center;
    width: 24.5%;
    float: left;
}
.content_2 p {
    margin-top: 45px;

}
.content_2 .divider {
    float: left;
    width: 2px;
    height: 50px;
    margin-top: 8%;
    background-color:#424242;
}
/*content 3*/
.content_3 {
    height: 390px;
    background-color: #cccccc;
    text-align: center;
}
.content_3 img {
    width: 91px;
    height: 92px;
    margin-top: 90px;
}
.content_3 p {
    font-size: 54px;
    font-family: "Microsoft JhengHei";
    margin-top: 20px;
    color: #323333;
    font-weight: bold;

}
/*content 4*/
.content_4 {
    height: 340px;
    background: url("../img/4-1.png");
    text-align: center;
}
.content_4 select {
    width: 200px;
    padding: 5px 20px;
    margin: 0 10px;
}
.content_4 button {
    width: 200px;
    padding: 5px 20px;
    margin: 0 10px;
    background-color: #ff6666;
}
select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #000;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;

    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
/* contnt -5*/
.content_5 {
    width: 100%;
    height: 606px;
    background-color: #f7f7f7;
    text-align: center;
}
.content_5 .center {
    margin: 40px 140px;
    overflow: hidden;
}
.center div {
    margin: 30px 18px;
    float: left;
}
.center img {
    padding: 5px;
    border: 1px solid #cccccc;
}